/* Add style rules here */

/*
Basic input element using psuedo classes
*/

html {
  font-family: 'Lora', sans-serif;
  width: 100%;
}

body {
  margin-top: 5%;
  width: 99%;
}

h1 {
  font-size: 28px;
  margin-bottom: 2.5%;
}

input,
label,
textarea {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  font-size: 19px;
}

div.main-container{
    display:block;
    margin:auto;
    margin-top:-30px;
    width:60%;
    padding:0px;
}

div.form-container{
    display:block;
    margin:auto;
    width: 100%;
    border:solid;
    border-color: gray;
    border-width: 2px;
    padding: 0px;
}

form {
    margin-top: 10px;
}

textarea:focus,
input:focus,
button:focus {
  outline: 0;
}

textarea.question {
    resize: none;
    display: block;
    position: relative;
    margin: 4%;
    font-size: 19px;
    font-weight: 300;
    border-radius: 2px;
    border: none;
    width: 92%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}

/* Underline and Placeholder */
textarea.question + label {
  display: block;
  position: relative;
  top:0px;
  white-space: nowrap;
  border-color: gray;
  padding: 0;
  width: 80%;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 20px;
}

/* Label Transitions */
textarea.question:focus + label {
  width: 80%;
}

textarea.question:valid,
textarea.question:focus {
  border-color: white;
}


/*** Buttons ****/

.button{
  display: inline-block;
  float:right;
  background-color: #4BA7F0; /* Green */
  border: none;
  border-radius: 27px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left: 6px;
  margin-right: 6px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button:active {
    margin-top: 23px;
}

.disabled:active {
  margin-top: 20px;
}

.button2:hover {
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24), 0 15px 35px 0 rgba(0,0,0,0.19);
}

.disabled:hover {
  box-shadow: 0 10px 12px 0 white, 0 15px 35px 0 white;
}

#call_classiffier{
    margin-right: -4px;
}

.class_indicator{
    cursor: pointer;
    display: inline-block;
    margin:10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;  
    line-height: 50px;
    text-align: center;
    color: #272323;
    font-weight: 700;
}

.class-1{
    background-color: #F0224C;
}

.class-0{
    background-color: #1AEE7F;
}

.class-neutral{
    background-color: #cccccc;
}

.classes-container{
    display: block;
    margin:auto;
    margin-top: 85px;
    width: 219px;
}

.centered{
    display: block;
    margin: auto;
    text-align: center;
}

input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #EEE;
}

input[type="submit"]:active {
  background: #999;
}

input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

span.mesg-promt{
    color: #333;
}

#main_logo{
    margin-left: -25px;
    margin-top: -17px;
    margin-bottom: 2px;
}

#char_count{
    position: relative;
    bottom: -42px;
    left: 0px;
    font-size: 16px;
}

#result_legend{
    margin-top: 20px;
}

/* DEMO 1 */

.wrapper-dropdown-1 {
    /* Size and position */
    position: relative; /* Enable absolute positionning for children and pseudo elements */

    width: 250px;
    float:right;
    padding: 10px;
    margin: 0 auto;
    margin-top: 30px;

    /* Styles */
    background: #9bc7de;
    color: #fff;
    outline: none;
    cursor: pointer;

    /* Font settings */
    font-weight: bold;
}

.wrapper-dropdown-1:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #fff;    
}

.wrapper-dropdown-1 .dropdown {
    /* Size & position */
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
    list-style: none;
    font-weight: normal; /* Cancels previous font-weight: bold; */

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-1 .dropdown li a {
    display: block;
    margin-left: -40px;
    text-decoration: none;
    color: #9e9e9e;
    padding: 10px 20px;
}

/* Hover state */
.wrapper-dropdown-1 .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */
.wrapper-dropdown-1.active .dropdown {
  z-index: 10;
    opacity: 1;
    pointer-events: auto;
}

.wrapper-dropdown-1.active:after {
    border-color: #ffffff transparent;
    border-width: 6px 6px 0 6px ;
    margin-top: -3px;
}
